<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         href="invoicing">
        <mat-icon class="menuIcons">dashboard</mat-icon>
        <span><b>Facturas</b></span>
      </a>
      <a mat-list-item
         href="materials">
        <mat-icon class="menuIcons">devices</mat-icon>
        <span><b>Materiales</b></span>
      </a>
      <a mat-list-item
         href="gabriel">
        <mat-icon class="menuIcons">assessment</mat-icon>
        <span><b>Estadisticas</b></span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Facturación</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-invoicing *ngIf="this.router.url == '/invoicing'"></app-invoicing>
    <app-materials *ngIf="this.router.url == '/materials'"></app-materials>

    <!-- <app-facturas></app-facturas>   -->

  </mat-sidenav-content>
</mat-sidenav-container>